<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Include necessary CSS and JS files here -->
</head>

<body>
    <form action="#" th:action="@{/add-news}" th:object="${news}" method="post" enctype="multipart/form-data">
        <label for="newsTitle">News Title:</label>
        <input type="text" id="newsTitle" name="newsTitle" th:field="*{newsTitle}" required>

        <label for="newsDescription">News Description:</label>
        <textarea id="newsDescription" name="newsDescription" th:field="*{newsDescription}" required></textarea>

        <label for="newsShortDesc">News Short Description:</label>
        <textarea id="newsShortDesc" name="newsShortDesc" th:field="*{newsShortDesc}" required></textarea>

        <label for="newsDate">News Date:</label>
        <input type="text" id="newsDate" name="newsDate" th:field="*{newsDate}" required>

        <label for="newsLink">News Link:</label>
        <input type="text" id="newsLink" name="newsLink" th:field="*{newsLink}" required>

        <label for="newsCategory">News Category:</label>
        <select id="newsCategory" name="newsCategory" th:field="*{newsCategory}" required>
            <option value="News">News</option>
            <option value="Meeting">Meeting</option>
            <option value="Seminar">Seminar</option>
            <option value="Conferences">Conferences</option>
            <option value="Forums">Forums</option>
        </select>

        <label for="newsVideoLink">News Video Link:</label>
        <input type="text" id="newsVideoLink" name="newsVideoLink" th:field="*{newsVideoLink}">

        <label for="imageFile">Primary Image:</label>
        <input type="file" class="form-control-file" id="imageFile" name="imageFile" th:field="*{imageFile}" accept="image/jpeg, image/png" required>

        <div id="additionalImages">
            <!-- Prompt user to upload additional images -->
            <label>Additional Images (Up to 4 images):</label>
            <input type="file" class="form-control-file" id="imageFile" accept="image/jpeg, image/png" name="image1">
            <input type="file" class="form-control-file" id="imageFile" accept="image/jpeg, image/png" name="image2">
            <input type="file" class="form-control-file" id="imageFile" accept="image/jpeg, image/png" name="image3">
            <input type="file" class="form-control-file" id="imageFile" accept="image/jpeg, image/png" name="image4">
        </div>

        <button type="submit">Submit</button>
    </form>
</body>

</html>