<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Program</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <form th:action="@{/admin/add-program}" th:object="${program}" method="post" enctype="multipart/form-data">
            <h2>Add Program</h2>
            <div class="form-group">
                <label for="programName">Program Name:</label>
                <input type="text" class="form-control" id="programName" th:field="*{programName}">
            </div>
            <div class="form-group">
                <label for="programShortName">Program Short Name(No White Space):</label>
                <input type="text" class="form-control" id="programShortName" th:field="*{programShortName}">
            </div>
            <div class="form-group">
                <label for="programDescription">Program Description:</label>
                <textarea class="form-control" rows="4" id="programDescription" th:field="*{programDescription}"></textarea>
            </div>
            <div class="form-group">
                <label for="programVenue">Program Venue:</label>
                <textarea class="form-control" rows="4" id="programVenue" th:field="*{programVenue}"></textarea>
            </div>
            <div class="form-group">
                <label for="programDate">Program Date:</label>
                <input type="text" class="form-control" id="programDate" th:field="*{programDate}">
            </div>
            <div class="form-group">
                <label for="programTime">Program Time:</label>
                <input type="text" class="form-control" id="programTime" th:field="*{programTime}">
            </div>
            <div class="form-group">
                <label for="programFee">Program Fee:</label>
                <input type="text" class="form-control" id="programFee" th:field="*{programFee}">
            </div>
            <div class="form-group">
                <label for="programForm">Program Form Link:</label>
                <input type="text" class="form-control" id="programForm" th:field="*{programForm}">
            </div>
            <div class="form-group">
                <label for="imageFile">Image:</label>
                <input type="file" class="form-control-file" id="imageFile" th:field="*{imageFile}" accept="image/jpeg, image/png">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>