<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Include necessary CSS and JavaScript libraries -->
</head>

<body>
    <h2>Add New Research Grant</h2>
    <form th:action="@{/add-grantt}" th:object="${grantt}" method="post">
        <label for="granttName">Grant Name:</label>
        <input type="text" id="granttName" name="granttName" th:field="*{granttName}" required>

        <label for="granttCategory">Grant Category:</label>
        <select id="granttCategory" name="granttCategory" th:field="*{granttCategory}">
            <option value="Principal Investigator">Principal Investigator</option>
            <option value="Project Member">Project Member</option>
        </select>

        <label for="granttFunder">Funder:</label>
        <input type="text" id="granttFunder" name="granttFunder" th:field="*{granttFunder}" required>

        <label for="granttStartDate">Start Date:</label>
        <input type="date" id="granttStartDate" name="granttStartDate" th:field="*{granttStartDate}" required>

        <label for="granttEndDate">End Date:</label>
        <input type="date" id="granttEndDate" name="granttEndDate" th:field="*{granttEndDate}" required>

        <label for="researchMemberName">Research Member Name:</label>
        <select id="researchMemberName" name="researchMemberName">
            <option value="" disabled selected>Select Research Member</option>
            <option th:each="researchMember : ${researchMembers}" th:value="${researchMember.researchMemberId}" th:text="${researchMember.researchMemberName}"></option>
        </select>


        <button type="submit">Submit</button>
    </form>
</body>

</html>