<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIBIG | Universiti Malaysia Kelantan</title>
    <link href="/images/umkicon.png" rel="shortcut icon" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Jquery Script-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/customStyle.css">
    <link rel="stylesheet" href="/css/breadcrumbs.css">
    <script src="/js/breadcrumbs.js"></script>
    <link rel="stylesheet" href="/css/researchmember.css">

    <!-- Footer -->
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <div th:replace="~{fragments/Navbar :: navbar}"></div>

    <div class=" container container-md-fluid">
        <div class="row ">
            <div class="col-auto col-md-10  ">
                <nav aria-label="breadcrumb " class="first  d-md-flex">
                    <ol class="breadcrumb indigo lighten-6 first-1">
                        <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" href="#"><span>Home</span></a><img class="ml-md-3" src="https://img.icons8.com/offices/30/000000/double-right.png" width="20" height="20"> </li>
                        <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" href="#"><span>Group</span></a><img class="ml-md-3" src="https://img.icons8.com/offices/30/000000/double-right.png" width="20" height="20"></li>
                        <li class="breadcrumb-item font-weight-bold mr-0 pr-0"><a class="black-text text-uppercase active-1" href="#"><span class="black-text">Scientific Advisory</span></a> </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 post-list">
                <div class="container">
                    <header class="text-center py-3">
                        <h1 class="display-4 font-weight-bold">Our Scientific <strong>Advisory Committee</strong></h1>
                    </header>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Organization</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>
                                        <strong>Prof. Dr. Richard Sinnott</strong>
                                        <br>
                                        <span style="color: #03A9F4">rsinnott@unimelb.edu.au</span>
                                    </td>
                                    <td>Director, Centre For eResearch</td>
                                    <td>University of Melbourne (Australia)</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>
                                        <strong>Prof. Dr. Sigeru Omatu</strong>
                                        <br>
                                        <span style="color: #03A9F4">omtsgr@gmail.com</span>
                                    </td>
                                    <td>Senior Professor, Faculty of Robotics & Design Engineering Department of System Design Engineering</td>
                                    <td>Osaka Institute of Technology (Japan)</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>
                                        <strong>Prof. Dr. Juan Manuel Corchado</strong>
                                        <br>
                                        <span style="color: #03A9F4">goto@me.es.osaka-u.ac.jp</span>
                                    </td>
                                    <td>Professor, Database Center For Life Science</td>
                                    <td>Research Organization of Information and Systems (Japan)</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>
                                        <strong>Prof. Dr. Susumu Goto</strong>
                                        <br>
                                        <span style="color: #03A9F4">corchado@usal.es</span>
                                    </td>
                                    <td>
                                        1) Director, Digital Innovation Hub.
                                        <br> 2) Director, BESITE-Bioinformatics, Intelligent Systems and Educational Technology
                                    </td>
                                    <td>Salamanca University (Spain)</td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>
                                        <strong>Assoc. Prof. Datin Dr. Norwati Mustapha</strong>
                                        <br>
                                        <span style="color: #03A9F4">norwati@upm.edu.my</span>
                                    </td>
                                    <td>Dep. Dean (A), Faculty of Computer Science & IT</td>
                                    <td>UPM</td>
                                </tr>
                                <tr>
                                    <td>6.</td>
                                    <td>
                                        <strong>Prof. Dr. Ahamad Tajuddin Khader</strong>
                                        <br>
                                        <span style="color: #03A9F4">tajudin@usm.my</span>
                                    </td>
                                    <td>Dean, School of Computer Science</td>
                                    <td>USM</td>
                                </tr>
                                <tr>
                                    <td>7.</td>
                                    <td>
                                        <strong>Prof. Dr. Abd Samad Ismail</strong>
                                        <br>
                                        <span style="color: #03A9F4">abdsamad@utm.my</span>
                                    </td>
                                    <td>Dean, Faculty of Computing</td>
                                    <td>UTM</td>
                                </tr>
                                <tr>
                                    <td>8.</td>
                                    <td>
                                        <strong>Prof. Dr. Shahrizal Sunar</strong>
                                        <br>
                                        <span style="color: #03A9F4">shahrizal@utm.my</span>
                                    </td>
                                    <td>Director, Media and Game Innovation Center</td>
                                    <td>UTM</td>
                                </tr>
                                <tr>
                                    <td>9.</td>
                                    <td>
                                        <strong>Prof. Dr. Azlinah Mohamed</strong>
                                        <br>
                                        <span style="color: #03A9F4">azlinah@salam.uitm.edu.my</span>
                                    </td>
                                    <td>Dean, Faculty of Computer and Mathematical Science</td>
                                    <td>UiTM</td>
                                </tr>
                                <tr>
                                    <td>10.</td>
                                    <td>
                                        <strong>Assoc. Prof. Dr. Shahreen Kasim</strong>
                                        <br>
                                        <span style="color: #03A9F4">shahreen@uthm.edu.my</span>
                                    </td>
                                    <td>Director, Center For Soft Computing and Data Mining</td>
                                    <td>UTHM</td>
                                </tr>
                                <tr>
                                    <td>11.</td>
                                    <td>
                                        <strong>Dr. Shafaatunnur binti Hasan</strong>
                                        <br>
                                        <span style="color: #03A9F4">shafaatunnur@utm.my</span>
                                    </td>
                                    <td>Acting Director, Big Data Center Universiti Teknologi Malaysia 81310, Johor Bharu, Malaysia</td>
                                    <td>UTM</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br> <br>

                    <!--ul class="site-pageination">
                    <li><a href="publications.php" class="active">1</a></li>
                    <li><a href="jurnal_ISI2.php">2</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul-->
                </div>
                <!-- sidebar -->
                <div class="col-sm-8 col-md-5 col-lg-4 col-xl-3 offset-xl-1 offset-0 pl-xl-0 sidebar">
                    <!-- widget -->
                    <!--div class="widget">
                    <form class="search-widget">
                        <input type="text" placeholder="Search...">
                        <button><i class="ti-search"></i></button>
                    </form>
                </div>

                <!-- widget -->
                    <!--div class="widget">
                    <h4 class="widget-title">Categories</h4>
                    <ul>
                        <li><a href="">Business</a></li>
                        <li><a href="">Design</a></li>
                        <li><a href="">Management</a></li>
                        <li><a href="">Marketing Plans</a></li>
                        <li><a href="">Construction</a></li>
                        <li><a href="">Honored</a></li>
                        <li><a href="">Program development</a></li>
                        <li><a href="">My SQL database</a></li>
                        <li><a href="">Google Adwords</a></li>
                        <li><a href="">Education</a></li>
                    </ul>
                </div>
                <!-- widget -->
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-section position-relative z-3">
        <div class="container footer-top">
            <div class="row">
                <!-- widget -->
                <div class="col-sm-12 col-lg-4 footer-widget">
                    <div class="about-widget" style="width:200px">
                        <img class="img-fluid" src="/images/umklogo.png" alt="">
                        <img class="img-fluid" src="/images/AIBIGUMK_LOGO.png" alt="">
                        <p style="font-size: 9pt">Last updated: <span class="two"></span></p>
                        <script>
                            // alert(document.lastModified);
                            var myDate = new Date(document.lastModified);
                            console.log('toISOString', myDate.toISOString());
                            myNewDate = new Intl.DateTimeFormat(
                                "de-AT", {
                                    year: "numeric",
                                    month: "numeric",
                                    day: "numeric"
                                }
                            ).format(myDate).replace(/\./g, '-');

                            console.log('Intl.DateTimeFormat', myNewDate);
                            document.querySelector('.two').innerHTML = myNewDate;
                        </script>
                    </div>
                </div>
                <!-- widget -->
                <ul class="col-sm-12 col-lg-5 footer-widget" style="padding-top:20px">
                    <h4 style="color: white">Contact</h4><br>
                    <li style="padding-left: 10px;">
                        <p><i class="fa fa-map-marker"></i> <strong>Address :</strong> Institute For Artificial Intelligence & Big Data, <br>Universiti Malaysia Kelantan, City Campus, Pengkalan Chepa,<br> 16100 Kota Bharu, Kelantan</p>
                    </li>
                    <li style="padding-left: 10px;">
                        <p><i class="fa fa-phone"></i> <strong>Phone :</strong> (+609) 771 7177 / (+609) 771 7176</p>
                    </li>
                    <li style="padding-left: 10px;">
                        <p><i class="fa fa-envelope"></i> <strong>Email :</strong> aibig@umk.edu.my</p>
                    </li>
                </ul>
                <!-- widget -->
                <div class="col-sm-12 col-lg-3 footer-widget">
                    <div class="about-widget" style="padding-top:20px">
                        <h4 style="color: white">Follow us</h4><br>
                        <div class="social pt-1" style="padding-left: 10px;">
                            <a href="https://www.facebook.com/umk.aibig/" target="_blank"><i class="fa fa-facebook-square" title="Facebook"></i></a>
                            <a href="https://www.instagram.com/aibigumk/" target="_blank"><i class="fa fa-instagram" title="Instagram"></i></a>
                            <a href="https://www.linkedin.com/company/aibig-umk" target="_blank"><i class="fa fa-linkedin-square" title="Linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UCfUM2rZNUIn7yfyvKKycHcg" target="_blank"><i class="fa fa-youtube-square" title="YouTube Channel"></i></a>
                        </div>
                    </div>
                    <!-- Visitor Counter -->
                    <div style="padding-top:20px; color: #020031">
                        <script type="text/javascript" src="https://freehitcounters.org/count/6630"></script><br>
                        <a href="https://www.free-counters.org" />www.free-counters.org"></a>
                    </div>
                    <!-- Visitor Counter -->
                </div>
                <!-- widget -->
            </div>
        </div>

        <div style="background-color:#262652; padding-left:100px; padding-right:50px;">
            <span class="sp-copyright" style="color:#A7A7A7"> © 2021 Institute for Artificial Intelligence & Big Data. All Rights Reserved.</span>
            <span class="field-content highlight-front" style="padding-left:230px;"><a href="disclaimer.php" title="Disclaimer" style="color:#A7A7A7">Disclaimer &nbsp; | &nbsp;</a></span>
            <span><a href="privacy.php" title="Privacy &amp; Security Policy" style="color:
                        #A7A7A7">Privacy &amp; Security Policy</a></span>
        </div>

    </footer>
</body>

</html>