<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Update Academic</title>
    <link href="/images/indexItems/umkicon.png" rel="shortcut icon" />

    <div th:replace="~{fragments/adminplugin :: adminplugin}"></div>
</head>

<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <div th:replace="~{fragments/adminNavbar :: adminNavbar}"></div>
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row justify-content-center align-center mx-auto">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">Update Academic</h2>
                            </div>
                            <div class="card-body justify-content-center align-center mx-5">
                                <form th:object="${academic}" method="post" th:action="@{/update/update-academic}" class="needs-validation" novalidate enctype="multipart/form-data">
                                    <!-- Add a hidden input for the academicId -->
                                    <input type="hidden" th:field="*{academicId}" />

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="academicName">Name:</label>
                                            <input type="text" class="form-control" id="academicName" name="academicName" th:field="*{academicName}" required>
                                            <div class="invalid-feedback">
                                                Please enter the Academic Staff date.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="academicPassword">Password:</label>
                                            <input type="password" class="form-control" id="academicPassword" name="academicPassword" th:field="*{academicPassword}">
                                            <div class="invalid-feedback">
                                                Please enter the Academic Staff password.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="academicUsername">Username:</label>
                                            <input type="text" class="form-control" id="academicUsername" name="academicUsername" th:field="*{academicUsername}" required>
                                            <div class="invalid-feedback">
                                                Please enter the Academic Staff Username.
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="academicPhone">Phone:</label>
                                            <input type="text" class="form-control" id="academicPhone" name="academicPhone" th:field="*{academicNoPhone}">

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="academicEmail">Email:</label>
                                            <input type="email" class="form-control" id="academicEmail" name="academicEmail" th:field="*{academicEmail}" required>
                                            <div class="invalid-feedback">
                                                Please enter the Academic Staff Email.
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="academicRole">Role:</label>
                                            <select id="academicRole" class="form-control" name="academicRole" th:field="*{academicRole}" required>
                                                <option th:each="role : ${academicRoles}" th:value="${role}" th:text="${role}"></option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please enter the Academic Staff Role.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="academicDepartment">Department:</label>
                                            <input type="hidden" th:field="*{academicDepartment}">
                                            <input type="text" class="form-control" id="academicDepartment" name="academicDepartment" th:field="*{academicDepartment}" disabled>
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="imageFileAcademic">Primary Image:</label>
                                            <input type="file" class="form-control-file" id="imageFileAcademic" name="imageFile" accept=".jpg, .jpeg, .png">
                                            <div class="invalid-feedback">
                                                Please enter the Academic Staff primary image.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="SecondaryImageFile">Secondary Image:</label>
                                            <input type="file" class="form-control-file" id="SecondaryImageFile" name="SecondaryImageFile" accept=".jpg, .jpeg, .png">
                                            <div class="invalid-feedback">
                                                Please enter the Academic Staff secondary image.
                                            </div>
                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Footer start
            ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by INSTITUTE FOR ARTIFICIAL INTELLIGENCE AND BIG DATA - 2023
                </p>
                <p>Office of Deputy Vice Chancellor (Research & Innovation)</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <script src="/js/Adminjs.js"></script>
    </div>
</body>

</html>