<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Research Paper</title>
    <link href="/images/indexItems/umkicon.png" rel="shortcut icon" />
    <div th:replace="~{fragments/adminplugin :: adminplugin}"></div>
</head>

<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <div th:replace="~{fragments/adminNavbar :: adminNavbar}"></div>
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome
                                <span class="welcome-text" th:if="${userType == 'admin'}" th:text="${user.adminName}"></span>
                                <span class="welcome-text" th:if="${userType == 'academic'}" th:text="${user.academicName}"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" th:text="${breadcrumbs1}"></a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="javascript:void(0)" th:text="${breadcrumbs2}"></a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row justify-content-center align-center mx-auto">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">Add Research Paper</h2>
                            </div>
                            <div class="card-body justify-content-center align-center mx-5">
                                <form th:object="${researchPaper}" method="post" th:action="@{/admin/add-researchpaper}" class="needs-validation" novalidate enctype="multipart/form-data">

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="researchPaperTitle">Title:</label>
                                            <input type="text" class="form-control" id="researchPaperTitle" name="researchPaperTitle" th:field="*{researchPaperTitle}" required>
                                            <div class="invalid-feedback">
                                                Please enter the research paper title.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="researchPaperAuthor">Author:</label>
                                            <input type="text" class="form-control" id="researchPaperAuthor" name="researchPaperAuthor" th:field="*{researchPaperAuthor}" required>
                                            <div class="invalid-feedback">
                                                Please enter the research paper author.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">


                                        <div class="form-group col-md-12">
                                            <label for="researchPaperDescription">Description:</label>
                                            <textarea class="form-control" id="researchPaperDescription" name="researchPaperDescription" th:field="*{researchPaperDescription}" required></textarea>
                                            <div class="invalid-feedback">
                                                Please enter the research paper description.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="researchPaperDate">Date:</label>
                                            <input type="date" class="form-control" id="researchPaperDate" name="researchPaperDate" th:field="*{researchPaperDate}" required>
                                            <div class="invalid-feedback">
                                                Please enter the research paper date.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="researchPaperLink">Link:</label>
                                            <input type="text" class="form-control" id="researchPaperLink" name="researchPaperLink" th:field="*{researchPaperLink}" required>
                                            <div class="invalid-feedback">
                                                Please enter the research paper link.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="researchPaperImage">Image:</label>
                                            <input type="file" class="form-control-file" id="researchPaperImage" name="imageFile" accept="image/*" required>
                                            <div class="invalid-feedback">
                                                Please choose an image file.
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Footer start
            ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by INSTITUTE FOR ARTIFICIAL INTELLIGENCE AND BIG DATA - 2023</p>
                <p>Office of Deputy Vice Chancellor (Research & Innovation)</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <script src="/js/Adminjs.js"></script>
    </div>
</body>

</html>