<div th:fragment="navbar">
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css" integrity="sha512-T+KoG3fbDoSnlgEXFQqwcTC9AdkFIxhBlmoaFqYaIjq2ShhNwNao9AKaLUPMfwiBPL0ScxAtc+UYbHAgvd+sjQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.3.1/swiper-bundle.min.css" integrity="sha512-UV9ujyMxyYubOSkCa8+OGzknJ1EilA19WPimPseyMcZaGIoO8l7iNphD0Mq/0R/lNkzBH70ai3tmurxAW0M2ww==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js" integrity="sha512-S/H9RQ6govCzeA7F9D0m8NGfsGf0/HjJEiLEfWGaMCjFzavo+DkRbYtZLSO+X6cZsIKQ6JvV/7Y9YMaYnSGnAA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js" integrity="sha512-E/yP5UiPXb6VelX+dFLuUD+1IZw/Kz7tMncFTYbtoNSCdRZPFoGN3jZ2p27VUxHEkhbPiLuZhZpVEXxk9wAHCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.js" integrity="sha512-jxiYWjQR3qfTq6BZWUdL4vdBi8pX7t1tQtUuVDxSwADM2WwAbXccNy5+Dh4d93NMTGWh6UWRdpxS6l1ks7L2tA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.3.1/swiper-bundle.min.js" integrity="sha512-2w85qGM9apXW9EgevsY4S4fnJIUz6U6mXlLbgDKphBuwh7jPQNad70Ll5W+pcIrJ6rIMGpjP0CxYGQwKsynIaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js" integrity="sha512-Q4MHJkk3u8P63v1aX0I7jvo5AoMFi53HbxUBhURp8x7xrqD+nsHZrbBEQVObpqE+MAAVB/Ye9ZlKkM44a1q9WA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Template Main Styles File -->
    <link href="/navbar/css/style.css" rel="stylesheet">
    <script src="/navbar/js/main.js "></script>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">
            <a th:href="@{/}" class="logo me-auto"><img src="/images/AIBIGUMK_LOGO.png " alt="AIBIG Logo " class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" th:href="@{/}">Home</a></li>
                    <li class="dropdown">
                        <a href="#">
                            <span>About Us</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a th:href="@{/aboutus/introduction}">Introduction</a></li>
                            <li><a th:href="@{/aboutus/director-desk}">From Director Desk</a></li>
                            <li><a th:href="@{/aboutus/vision-mission}">Vision, Mission &amp; Objective</a></li>
                            <li><a th:href="@{/aboutus/achievement}">Achievement</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            <span>Group</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a th:href="@{/group/team}">Team</a></li>
                            <li><a th:href="@{/group/researchmember}">Research Members</a></li>
                            <li><a th:href="@{/group/scientific-advisory}">Scientific Advisory Committee</a></li>
                            <li><a th:href="@{/group/reference-committee} ">Industrial Reference Committee</a></li>
                            <li><a href="#">Visiting Fellow / Professor</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            <span>Programs</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a th:href="@{/program/internship}">Internship</a></li>
                            <li><a href="#">Postgraduate (Master &amp; PhD)</a></li>
                            <li><a href="#">Post-Doctoral</a></li>
                            <li class="dropdown">
                                <a href="#">
                                    <span>Competition</span>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                                <ul>
                                    <li><a href="#">AI Ideathon</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">
                                    <span>Training</span>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                                <ul>
                                    <li><a href="#">IOT Workshop</a></li>
                                    <li><a href="#">Professional Certificate</a></li>
                                    <li><a href="#">University Courses</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            <span>R &amp; D</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a href="#research-aibig">Research @ AIBIG</a></li>
                            <li><a href="#">COVID-19</a></li>
                            <li><a href="#">Grant</a></li>
                            <li><a href="#">Publications</a></li>
                            <li><a href="#">Collaboration</a></li>
                            <li><a href="#">MoU/MoA</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            <span>News &amp; Events</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a href="#">Meeting</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Seminar</a></li>
                            <li><a href="#">Conference</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            <span>Annex</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a href="#">Event</a></li>
                            <li><a href="#">Download</a></li>
                            <li class="dropdown">
                                <a href="#">
                                    <span>Facility</span>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                                <ul>
                                    <li><a href="#">IR4.0 Conference Center</a></li>
                                    <li><a href="#">Workspace</a></li>
                                    <li><a href="#">Equipment</a></li>
                                    <li><a href="#">IoT</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#about-section">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

</div>