<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIBIG | Universiti Malaysia Kelantan</title>
    <link href="/images/indexItems/umkicon.png" rel="shortcut icon" />

    <div th:replace="~{fragments/plugin_file :: plugin_file}"></div>

    <!-- Custom CSS -->
</head>

<body>
    <div th:replace="~{fragments/Navbar :: navbar}"></div>
    <main id="main">
        <div th:replace="~{fragments/Breadcrumbs :: breadcrumbs}"></div>
        <div class="containers">
            <section id="contact" class="contact">
                <div class="container justify-content-center" data-aos="fade-up">

                    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto">
                        <h2>Contact</h2>

                    </div>


                    <div class="row">

                        <div class="align-items-stretch">
                            <div class="info">
                                <div class="address">
                                    <p>Welcome to the Institute For Artificial Intelligence & Big Data at Universiti Malaysia Kelantan. We are delighted to connect with you!</p>
                                </div>
                                <div class="address">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>Reach Us:</h4>
                                    <p>Institute For Artificial Intelligence & Big Data, Universiti Malaysia Kelantan, City Campus, Pengkalan Chepa, 16100 Kota Bharu, Kelantan.</p>
                                </div>

                                <div class="email">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>aibig@umk.edu.my</p>
                                </div>

                                <div class="phone">
                                    <i class="bi bi-phone"></i>
                                    <h4>Call:</h4>
                                    <p>(+609) 771 7177</p>
                                </div>

                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.7490012873227!2d102.28170251426569!3d6.164359228945507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31b6b193c309ae71%3A0xbc7fd1a4ce46718a!2sUMK%20Kampus%20Kota!5e0!3m2!1sen!2smy!4v1586069012276!5m2!1sen!2smy"
                                    width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
        </div>
    </main>
    <div th:replace="~{fragments/Footer :: footer}"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
</body>

</html>