<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="favicon icon 32x32-01.png" href="images/index.png" sizes="32x32">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIBIG | Universiti Malaysia Kelantan</title>
    <link href="/images/umkicon.png" rel="shortcut icon" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Jquery Script-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/customStyle.css">

    <!-- Slider-->
    <link rel="stylesheet" href="/css/Sliderstyle.css">

    <!-- Bee3D -->
    <link rel="stylesheet" href="/css/bee3D.css">
    <script src="/js/bee3D.js"></script>
    <script src="/js/vendor/classie.js"></script>
    <!-- Background -->
    <script src="/js/bg-animation.js"></script>
</head>

<body>
    <div th:replace="~{fragments/Navbar :: navbar}"></div>

    <!-- Carousel-->
    <div class="cd_main">
        <div id="background-effect">
            <canvas id="bg-canvas"></canvas>
        </div>
        <div class="container conbg" id="conbg">
            <div class="bg4" id="bg4">
                <div class="bg3" id="bg3">
                    <div class="bg2" id="bg2">
                        <div class="bg1" id="bg1">
                            <div class="bg" id="bg">
                                <div class="bg-text text-light ps-3">
                                    <h3>Selamat datang<br />AIBIG</h3>
                                    <a class="text-light" href="#bg1"><svg viewBox="0 0 448 512" width="30" fill="#fff" title="angle-double-right">
                        <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
                      </svg></a>
                                </div>
                            </div>
                            <div class="bg-text text-light ps-3">
                                <a class="text-light" href="#bg2"><svg viewBox="0 0 448 512" width="30" fill="#fff" title="angle-double-right">
                      <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
                    </svg></a>
                            </div>
                        </div>
                        <div class="bg-text text-light ps-3">
                            <h3>University<br />Of IR 4.0</h3>
                            <a class="text-light" href="#bg3"><svg viewBox="0 0 448 512" width="30" fill="#fff" title="angle-double-right">
                    <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
                  </svg></a>
                        </div>
                    </div>
                    <div class="bg-text text-light ps-3">
                        <h3>Research<br />Area</h3>
                        <p>
                            Internet of Things (IoT)<br /> Artificial Intelligence<br />Machine Learning <br />Big Data<br />Data Science
                        </p>
                        <a class="text-light" href="#bg4"><svg viewBox="0 0 448 512" width="30" fill="#fff" title="angle-double-right">
                <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
              </svg></a>
                    </div>
                </div>
                <div class="bg-text text-light ps-3">
                    <a class="text-light" href="#conbg"><svg viewBox="0 0 448 512" width="30" fill="#fff" title="angle-double-right">
            <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
          </svg></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bee3D Content -->
    <section class="" id="servicesde">
        <div class="container pt-9 pb-3">
            <div class="title-creative center color-white mb-7">
                <h1 class="main-title text-uppercase font-weightbold">OUR RESEARCH AREAS</h1>
                <p>We provide the opportunity to prepare for new technology - life</p>
            </div>
        </div>
        <div class="container">
            <div id="services-de" class="bee3D--parent">
                <section class="bee3D--slide">

                    <div class="devision-body">
                        <div class="devision-img">
                            <img src="/images/devision-01.jpg" class="img-fluid">
                        </div>
                        <div class="devision-writeup">
                            <div class="title-creative blue center">
                                <h2 class="main-title normal font-weightbold">Internet of Things (IoT)</h2>
                            </div>
                            <p class="devision-desc text-justify">System of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique identifiers and the ability to transfer data over a network without requiring human-to-human
                                or human-to-computerinteraction.</p>
                        </div>
                    </div>

                </section>
                <section class="bee3D--slide">

                    <div class="devision-body">
                        <div class="devision-img">
                            <img src="/images/devision-02.jpg" class="img-fluid">
                        </div>
                        <div class="devision-writeup">
                            <div class="title-creative blue center">
                                <h2 class="main-title normal font-weightbold">Artificial Intelligence</h2>
                            </div>
                            <p class="devision-desc text-justify">The ability of a digital computer or computer-controlled robot to perform tasks commonly associated with intelligent beings.</p>
                        </div>
                    </div>

                </section>
                <section class="bee3D--slide">

                    <div class="devision-body">
                        <div class="devision-img">
                            <img src="/images/devision-03.jpg" class="img-fluid">
                        </div>
                        <div class="devision-writeup">
                            <div class="title-creative blue center">
                                <h2 class="main-title normal font-weightbold">Machine Learning</h2>
                            </div>
                            <p class="devision-desc text-justify">Scientific study of algorithms and statistical models that computer systems use to perform a specific task without using explicit instructions, but only relying on patterns and inference.</p>
                        </div>
                    </div>

                </section>
                <section class="bee3D--slide">

                    <div class="devision-body">
                        <div class="devision-img">
                            <img src="/images/devision-04.jpg" class="img-fluid">
                        </div>
                        <div class="devision-writeup">
                            <div class="title-creative blue center">
                                <h2 class="main-title normal font-weightbold">Big Data</h2>
                            </div>
                            <p class="devision-desc text-justify">Large volume of data – both structured and unstructured – inundates a business on a day-to-day basis.</p>
                        </div>
                    </div>

                </section>
                <section class="bee3D--slide">

                    <div class="devision-body">
                        <div class="devision-img">
                            <img src="/images/devision-05.jpg" class="img-fluid">
                        </div>
                        <div class="devision-writeup">
                            <div class="title-creative blue center">
                                <h2 class="main-title normal font-weightbold">Data Science</h2>
                            </div>
                            <p class="devision-desc text-justify">Multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data.</p>
                        </div>
                    </div>

                </section>
            </div>

            <div class="row">
                <div class="col-12 pb-10 text-center nav-services">
                    <a href="#." class="btn btn-outline-light btn-wide active">Internet of Things (IoT)</a>
                    <a href="#." class="btn btn-outline-light btn-wide">Artificial Intelligence</a>
                    <a href="#." class="btn btn-outline-light btn-wide">Machine Learning</a>
                    <a href="#." class="btn btn-outline-light btn-wide">Big Data</a>
                    <a href="#." class="btn btn-outline-light btn-wide">Data Science</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>