<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="favicon icon 32x32-01.png" href="images/index.png" sizes="32x32">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIBIG | Universiti Malaysia Kelantan</title>
    <link href="/images/umkicon.png" rel="shortcut icon" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Jquery Script-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/customStyle.css">
    <script src="/js/component.js"></script>

    <!-- Bee3D -->
    <link rel="stylesheet" href="/css/bee3D.css">
    <script src="/js/bee3D.js"></script>
</head>

<body>
    <div th:replace="~{fragments/Navbar :: navbar}"></div>

    <section id="hero" class="d-flex align-items-center">

        <!-- Carousel Start -->
        <div class="container-fluid px-0">
            <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="third slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="3" aria-label="fourth slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="4" aria-label="fifth slide"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="fill">
                            <img src="/images/Slider/01_Slider.png" class="img-fluid" alt="First slide">
                        </div>
                        <div class="carousel-caption">
                            <div class="container carousel-content">

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="fill">
                            <img src="/images/Slider/02_Slider.png" class="img-fluid" alt="Second slide">
                        </div>
                        <div class="carousel-caption">
                            <div class="container carousel-content">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="fill">
                            <img src="/images/Slider/03_Slider.jpg" class="img-fluid" alt="third slide">
                        </div>
                        <div class="carousel-caption">
                            <div class="container carousel-content">
                                <h1 class="text-white display-1 mb-4 animated fadeInLeft">UNIVERSITY OF IR4.0</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="fill">
                            <img src="/images/Slider/04_Slider.jpg" class="img-fluid" alt="fourth slide">
                        </div>
                        <div class="carousel-caption">
                            <div class="container carousel-content">
                                <h1 class="text-white display-1 mb-4 animated fadeInLeft">RESEARCH AREAS</h1>
                                <p class="mb-4 text-white fs-5 animated fadeInDown">Internet of Things (IoT)<br>Artificial Intelligence<br>Machine Learning<br>Big Data<br>Data Science</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/Slider/05_Slider.png" class="img-fluid" alt="fifth slide">
                        <div class="carousel-caption">
                            <div class="container carousel-content">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Carousel End -->

    </section>
    <main id="main">

        <!-- ======= Cliens Section ======= -->
        <section id="cliens" class="cliens section-bg">
            <div class="container">

                <div class="row" data-aos="zoom-in">

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="/images/Collaboration/Huawei-logo.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="/images/Collaboration/Microsoft-Logo.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="/images/Collaboration/Alibaba-logo.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <div class="containerslide" style="position: relative; animation: slide-animation 30s infinite;">
                            <div class="slide">
                                <a href="#" title="IR 4.0 COMPUTENCE CENTRE ALREADY OPERATED AND WILL START TRAINING">
                                    <marquee class="annoucement" behavior="scroll" direction="left" scrollamount="9">IR 4.0 COMPUTENCE CENTRE ALREADY OPERATED AND WILL START TRAINING</marquee>
                                    <!-- <marquee class="annoucement" behavior="scroll" direction="left" scrollamount="9">No announcement at the moment</marquee> -->
                                    <!-- </a><a href="#" title="No announcement at the moment">
                                    <marquee class="annoucement" behavior="scroll" direction="left" scrollamount="9">No announcement at the moment</marquee>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Cliens Section -->

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                            id est laborum.
                        </p>
                        <a href="#" class="btn-learn-more">Learn More</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Us Section -->
    </main>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>

</html>