<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIBIG | Universiti Malaysia Kelantan</title>
    <link href="/images/umkicon.png" rel="shortcut icon" />

    <div th:replace="~{fragments/plugin_file :: plugin_file}"></div>

    <!-- Custom CSS -->
</head>

<body>
    <div th:replace="~{fragments/Navbar :: navbar}"></div>
    <main id="main">
        <section class="hero mt-5">
            <div class=" container container-md-fluid">
                <div class="row ">
                    <div class="col-auto col-md-10  ">
                        <nav aria-label="breadcrumb " class="first  d-md-flex">
                            <ol class="breadcrumb indigo lighten-6 first-1">
                                <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" href="#"><span>Home</span></a><img class="ml-md-3" src="https://img.icons8.com/offices/30/000000/double-right.png" width="20" height="20"> </li>
                                <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" href="#"><span>Group</span></a><img class="ml-md-3" src="https://img.icons8.com/offices/30/000000/double-right.png" width="20" height="20"></li>
                                <li class="breadcrumb-item font-weight-bold mr-0 pr-0"><a class="black-text text-uppercase active-1" href="#"><span class="black-text">Professional Certificate</span></a> </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="containers">
            <section class="blog-page-section spad pt-0">
                <div class="container">
                    <div class="row">
                        <div class="post-list">
                            <div class="container">
                                <header class="text-center">
                                    <h1 class="display-4 font-weight-bold">Professional Certificate</h1>
                                </header>
                                <br><br>
                                <p class="justify-content-center" style="font-size: 12pt">At AIBIG, we provide professional training and certification with the collaboration from other industry players, which are Microsoft Corporation Malaysia, Huawei Malaysia, Alibaba, and Google.</p>
                                <p class="justify-content-center" style="font-size: 12pt">The list for our provided professional training and certification is as follows:</p>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Company</th>
                                            <th>Certification</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="counterCell" rowspan="5"></td>
                                            <td rowspan="5">Microsoft Corporation Malaysia<br><img src="/images/Collaboration/Microsoft-logo.png" width="150px"></td>
                                            <td>Microsoft Certified: Azure Data Scientist Associate<span style="color: blue; font-size: 12px">&nbsp; *for IT student</span></td>
                                        </tr>
                                        <tr>
                                            <td>Microsoft Certified: Azure Data Engineer Associate<span style="color: blue; font-size: 12px">&nbsp; *for IT student</span></td>
                                        </tr>
                                        <tr>
                                            <td>Microsoft Certified: Azure AI Engineer Associate<span style="color: blue; font-size: 12px">&nbsp; *for IT student</span></td>
                                        </tr>
                                        <tr>
                                            <td>Microsoft Certified: Azure IoT Developer<span style="color: blue; font-size: 12px">&nbsp; *for IT student</span></td>
                                        </tr>
                                        <tr>
                                            <td>Data Analysis Using Power BI and Excel<span style="color: red; font-size: 12px">&nbsp; *for non-IT student</span></td>
                                        </tr>
                                        <tr>
                                            <td class="counterCell" rowspan="3"></td>
                                            <td rowspan="3">Huawei Malaysia<br><img src="/images/Collaboration/Huawei-logo.png" width="150px"></td>
                                            <td>Huawei AI Certificate HCIA-AI (Beginner)</td>
                                        </tr>
                                        <tr>
                                            <td>Huawei AI Certificate HCIA-AI (Medium)</td>
                                        </tr>
                                        <tr>
                                            <td>Huawei AI Certificate HCIA-AI (Expert)</td>
                                        </tr>
                                        <tr>
                                            <td class="counterCell" rowspan="4"></td>
                                            <td rowspan="4">Alibaba<br><img src="/images/Collaboration/Alibaba-logo.png" width="150px"></td>
                                            <td>Digital Economy Certificate</td>
                                        </tr>
                                        <tr>
                                            <td>Digital Entrepreneurship Certificate</td>
                                        </tr>
                                        <tr>
                                            <td>Alibaba Cloud Computing Associate (ACA)</td>
                                        </tr>
                                        <tr>
                                            <td>Alibaba Cloud Computing Professional (ACP)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </main>
    <div th:replace="~{fragments/Footer :: footer}"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
</body>

</html>