<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIBIG | Universiti Malaysia Kelantan</title>
    <link href="/images/umkicon.png" rel="shortcut icon" />

    <div th:replace="~{fragments/plugin_file :: plugin_file}"></div>

    <!-- Custom CSS -->
</head>

<body>
    <div th:replace="~{fragments/Navbar :: navbar}"></div>
    <main id="main">
        <div th:replace="~{fragments/Breadcrumbs :: breadcrumbs}"></div>
        <div class="containers">
            <section class="blog-page-section spad pt-0">
                <div class="container">
                    <div class="post-list">
                        <h2>University IR4.0 Courses</h2><br>
                        <p style="text-align: justify; font-size: 12pt">The Fourth Industrial Revolution (4IR) is paving the way for transformative changes in the way we live and radically disrupting almost every business sector. In line with that, UMK has taken proactive steps to expose students and
                            academic staff in 4IR by offering two compulsory courses; (1) Seminar for Industrial Revolution 4.0 and (2) Introduction to Big Data Analytics. Both of these courses are offered to all faculties at UMK. These two courses will
                            benefit the UMK students in equipping them with useful and advance knowledge of 4IR and Big Data Analytics regardless of their disciplines. The knowledge that students learn from the courses will give advantages to them and
                            have the right skillset and ready in the job market right after graduation.<br><br> The synopsis our both courses are listed as below:</p><br><br><br>
                        <div class="container">
                            <div style="float: left; width: 70%;  margin-right: 20px !important">
                                <img src="/images/Program/IR2.webp" class="img-fluid" alt="Industrial Revolution 4.0">
                            </div>
                            <div class="about-text" style="display: inline; text-align: justify">
                                <!--text-align justify utk p mcm susunan dlm buku-->
                                <h5 style="color:blue">1) Seminar for Industrial Revolution 4.0</h5>
                                <p style="font-size: 12pt"><strong>Synopsis -</strong> This course is designed to provide exposure and preparation for students on the Industrial Revolution 4.0 (4IR). This disclosure is presented in the form of forums, seminars and lectures from
                                    UMK, government agencies, and private sectors. Excellent students and alumni in entrepreneurship based on 4IR products are also invited to deliver their talks.</p>
                                <p style="font-size: 12pt">Students can interact and ask directly with the panel and speakers involved regarding the subject matter related to 4IR. The course content covers the disclosure of general information on knowledge and technology in 4IR.
                                    This course also educates students on the preparation needed to deal with 4IR. Case studies are included with examples of products based on 4IR in areas such as entrepreneurship, business, literature, life sciences
                                    and engineering. In addition, current developments and 4IR effects on life, etc. are also presented.</p><br>
                            </div>
                        </div>
                        <div class="container" style="padding-top:40px !important">
                            <div style="float: left; width: 50%; margin-right: 20px !important">
                                <img src="/images/Program/BDA.webp" class="img-fluid" width="400px" alt="Big Data Analytics">
                            </div>
                            <div class="about-text" style="display: inline; text-align: justify">
                                <h5 style="color:blue">2) Introduction to Big Data Analytics</h5>
                                <p style="font-size: 12pt"><strong>Synopsis -</strong> This course is designed for introducing the fundamental knowledge and skills to use and manage big data and to perform big data analytics. First, the fundamental of data science and big data
                                    analytics will be explained that will enable students to understand the basic concepts and techniques. Also, it introduces general platform for big data such as Hadoop, and so on. This platform is an information technology-based
                                    solution where it integrates with multiple big data applications simultaneously to solve various problems.</p>
                                <p style="font-size: 12pt">Subsequently, a number of storage methods are introduced. These storage methods cover how to upload, distribute and process big data. Analytical algorithms on various platforms are also introduced. These algorithms are
                                    generally derived from artificial intelligence and machine learning. This course also discusses big data challenges in various fields. Next, this course describes a number of examples of big data analytics applications,
                                    tools and software in the relevant fields. Students will choose a topic for the big data analytics project according to their respective fields. The project based on case studies will be reported and presented.</p><br>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <div th:replace="~{fragments/Footer :: footer}"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
</body>

</html>