<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIBIG | Universiti Malaysia Kelantan</title>
    <link href="/images/umkicon.png" rel="shortcut icon" />
    <div th:replace="~{fragments/plugin_file :: plugin_file}"></div>
</head>

<body>
    <div th:replace="~{fragments/Navbar :: navbar}"></div>
    <main id="main">
        <div th:replace="~{fragments/Breadcrumbs :: breadcrumbs}"></div>
        <div>
            <section class="about-section">
                <div class="container">
                    <div class="section-title text-center">
                        <h3>DIRECTOR WELCOME NOTE</h3>
                        <img src="/images/dr.akmal.jpg" alt="akmal" align="center" style="width:150px">
                    </div>
                    <div class="container justify-content-center">
                        <div class="about-text">
                            <!--text-align justify utk p mcm susunan dlm buku-->
                            <h5>Greetings and Welcome to AIBIG.........</h5>
                            <p>It is my pleasure to welcome you to the website of the Institute for Artificial Intelligence & Big Data (AIBIG). AIBIG is an initiative under the UMK Board of Directors that officially established on September 2017. As one
                                of the research centre at UMK, our mission is to lead in the development of holistic talents and innovative technologies in AI and Big Data for universal well-being and prosperity. The objectives of AIBIG is to conduct
                                research and development in AI and Big Data towards the Fourth Industrial Revolution (4IR), engage AI and Big Data with industry players, produce technopreneur in AI and Big Data and give training of AI and Big Data for
                                society.
                            </p>
                            <p>AIBIG research activities encompass several broad areas including AI, Big Data, Machine Learning, Internet of Things (IoT) and Data Science. Many research grants have been secured within the institute to support the research
                                activities.
                            </p>
                            <p>One of the important initiative that has been approved is the UMK IR4.0 Competence Centre which serve professional training centre in AI and Big Data. Moreover, we also have facilities such as AIBIG Research Lab which provided
                                for the postgraduate and postdoctoral research program in IT.</p>
                            <p>Besides focusing on research and development, one of our responsibility is to lead the development IT academic programs in the field of AI, Data Science and IoT. The programs involve Bachelor, Master, PhD and University IR4.0
                                Courses (Seminar on Industrial Revolution 4.0 and Big Data Analytics). All these programs will fully begin in 2021 and operate under the Data Science Department, Faculty of Bioengineering and Technology, UMK City Campus,
                                Kelantan, Malaysia.
                            </p>
                            <p>In terms of research collaboration, currently, we have national and international collaborators that have distinction expertise and a wide range of disciplinary and backgrounds. We want to extend a very warm welcome to all
                                new and prospective students and invite collaborations from researchers around the world.</p>
                            <p>Sincerely,</p><br>
                            <p><strong>Director</strong> of AIBIG,<br>Dr. Muhammad Akmal Remli.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>


    <div th:replace="~{fragments/Footer :: footer}"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>

</html>