<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIBIG | Universiti Malaysia Kelantan</title>
    <link href="/images/indexItems/umkicon.png" rel="shortcut icon" />

    <div th:replace="~{fragments/plugin_file :: plugin_file}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/css/annex.css">

    <!-- Custom CSS -->
</head>

<body class="mainannexgallery">
    <div th:replace="~{fragments/Navbar :: navbar}"></div>
    <main id="main">
        <div th:replace="~{fragments/Breadcrumbs :: breadcrumbs}"></div>
        <div class="containers">
            <section class="section " id="section3">
                <div class="container">
                    <div class="section-heading">
                        <h2>Event</h2>
                        <div class="line-dec"></div>
                        <span>This all the event has been organized by AIBIG</span>
                    </div>
                    <div class="row">
                        <div class="isotope-wrapper">
                            <div class="isotope-toolbar">
                                <label>
                                    <button class="active" data-type="*" name="isotope-filter" />
                                    <span>All</span>
                                </label>
                                <label th:each="galleryyear : ${galleryYear}">
                                    <button class="" th:data-type="${galleryyear}" name="isotope-filter" />
                                    <span th:text="${galleryyear}"></span>
                                </label>
                            </div>
                            <div class="isotope-box">
                                <div class="isotope-item" th:each="annexgallery : ${annexGallery}" th:data-type="${#dates.format(annexgallery.annexGalleryDate, 'yyyy')}">
                                    <figure>
                                        <img th:src="@{/Annex/displayImage(annexId=${annexgallery.annexGalleryId}, type='annexgallery' )}" alt="sq-sample26" />
                                        <figcaption>
                                            <a th:href="@{/Annex/selectedYearAnnex(galleryId=${annexgallery.annexGalleryId})}" data-title="caption"><svg  style="isolation:isolate" viewBox="0 0 50 50" width="50pt" height="50pt">
                                                <g>
                                                    <path d=" M 49.334 46.12 L 33.838 30.624 C 36.369 27.403 37.88 23.345 37.88 18.94 C 37.88 8.497 29.384 0 18.94 0 C 8.497 0 0 8.497 0 18.94 C 0 29.384 8.497 37.88 18.94 37.88 C 23.345 37.88 27.403 36.369 30.624 33.838 L 46.12 49.334 C 46.564 49.778 47.146 50 47.727 50 C 48.309 50 48.891 49.778 49.334 49.334 C 50.222 48.447 50.222 47.008 49.334 46.12 Z  M 4.545 18.94 C 4.545 11.003 11.003 4.545 18.94 4.545 C 26.878 4.545 33.335 11.003 33.335 18.94 C 33.335 26.877 26.878 33.335 18.94 33.335 C 11.003 33.335 4.545 26.877 4.545 18.94 Z " fill="white"/>
                                                    <path d=" M 23.486 16.668 L 21.213 16.668 L 21.213 14.395 C 21.213 13.14 20.195 12.122 18.94 12.122 C 17.685 12.122 16.667 13.14 16.667 14.395 L 16.667 16.668 L 14.395 16.668 C 13.14 16.668 12.122 17.685 12.122 18.94 C 12.122 20.195 13.14 21.213 14.395 21.213 L 16.667 21.213 L 16.667 23.486 C 16.667 24.741 17.685 25.758 18.94 25.758 C 20.195 25.758 21.213 24.741 21.213 23.486 L 21.213 21.213 L 23.486 21.213 C 24.741 21.213 25.758 20.195 25.758 18.94 C 25.758 17.685 24.741 16.668 23.486 16.668 Z "  fill="white"/>
                                                </g>
                                                </svg>
                                            </a>
                                            <h4 th:text="${annexgallery.annexGalleryName}"></h4>
                                            <span th:text="${annexgallery.annexGalleryDate}"></span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            </div>
    </main>
    <div th:replace="~{fragments/Footer :: footer}"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script>
        var $box = $(".isotope-box").isotope({
            itemSelector: ".isotope-item"
        });
        $(".isotope-toolbar").on("click", "button", function() {
            var filterValue = $(this).attr("data-type");
            $(".isotope-toolbar").find(".active").removeClass("active");
            $(this).addClass("active");
            if (filterValue !== "*") {
                filterValue = '[data-type="' + filterValue + '"]';
            }
            console.log(filterValue);
            $box.isotope({
                filter: filterValue
            });
        });
    </script>
</body>

</html>